# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: acf610b5c3c585f01e4730c7aee462484c4ae5a71c2a42c2705a2fac7db866c27c0832d92cf9ad87deee12092fac84f83263af0c7e0817d67ac752fa73553aef

test:
  secret_key_base: 17bd4980d5ed0a9486dd3a8b2c1c26ad08435ed2fec843754ae75a985f35f4e0cc180c485b0b6f8c160045b1e099b1ad10c5fb62994f1141b441b49b301611fc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: youmustbejoking
